{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}
        <section class="conteudo">
            <section class="imagem">
                <div class="imagem__conteudo">
                    {% if photo.photo == "" or photo.photo == null %}
                        <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png'%}" alt="foto">
                    {% else %}
                        <img class="card__imagem" src="{{ photo.photo.url }}" alt="foto">
                    {% endif %}
                    <div class="imagem__info">
                        <div class="imagem__texto">
                            <p class="imagem__titulo">{{ photo.name }}</p>
                            <p class="imagem__descricao">{{photo.legend}}</p>
                            <p class="imagem__texto">{{photo.description}}</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</div>
{% endblock %}
