{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
                    <h1 class="banner__titulo"> The Best Gallery in the Space!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Search by tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Nebula</li>
                        <li class="tags__tag">Stars</li>
                        <li class="tags__tag">Galaxies</li>
                        <li class="tags__tag">Planets</li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Surf by gallery</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for info in cards %}
                            <li class="card">
                                <a href="{% url 'image' infor.id %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/carina-nebula.png' %}{{info.photo}}" alt="photo">
                                </a>
                                <span class="card__tag">Estrelas</span>
                                <div class="card__info">
                                <p class="card__titulo">{{ info.name }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ info.legend }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="heart icon">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}
