{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
                    <h1 class="banner__titulo"> The best gallery in space!!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Search by tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Nebula</li>
                        <li class="tags__tag">Star</li>
                        <li class="tags__tag">Ggalaxy</li>
                        <li class="tags__tag">Planet</li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Surf by</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for photo in cards %}
                            <li class="card">
                                <a href="{% url 'image' photo.id %}">
                                {% if photo.photo == "" or photo.photo == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png'%}" alt="foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ photo.photo.url }}" alt="foto">
                                {% endif %}
                                </a>
                                <span class="card__tag">{{photo.category}}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{photo.name}}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{photo.legend}}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <div class="imagem__texto">
                                <p>Photos not found</p>
                            </div>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}
